body
{
    background-image: url("images/fond_web.jpg");
    background-repeat: no-repeat;
    background-position: center;
     background-attachment: fixed;
    
}



h1
{
    text-align: center;
}

p
{
    text-align: center;
