body
{
    background-image: url("images/site_en_construction.jpg");
    background-repeat: no-repeat;
    background-position: center;
     background-attachment: fixed;
}

img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



h1
{
    text-align: center;
    color: white;
}

p
{
    text-align: center;
    color: white;
}
