body
{
    background-image: url("images/fond_web.jpg");
    background-repeat: no-repeat;
    background-position: center;
     background-attachment: fixed;
}

img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



h1
{
    text-align: center;
}

p
{
    text-align: center;
